beautifulsoup4; python_version >= '3.3'
SQLAlchemy; python_version >= '3.3'
requests; python_version >= '3.3'
lxml; python_version >= '3.3'
readline; python_version >= '3.3'
sqlalchemy-redshift; python_version >= '3.3'
psycopg2; python_version >= '3.3'
awscli; python_version >= '3.3'
mysqlclient; python_version >= '3.3'
oauthlib; python_version >= '3.3'
requests-oauthlib; python_version >= '3.3'
pika; python_version >= '3.3'
